/* 单一事件/产品/话题评论 样式 */
.page-event {}

.page-event .module-header {
    position: relative;
}

.page-event .module-header img {
    width: 100%;
}

.page-event .module-header .desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0.86rem;
    line-height: 0.86rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.32rem;
    color: #fff;
    padding-left: 0.3rem;
}

.page-event .module-article-list {
    /*padding-bottom: 0.2rem;*/
}

.page-event .wrapper-article {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.page-event .wrapper-article .wrapper-author{}

.page-event .wrapper-article .wrapper-author .author-thumb {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #000;
    margin-right: 0.24rem;
    overflow: hidden;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-event .wrapper-article .wrapper-author .author-name {
    font-size: 0.28rem;
    color: #000;
    margin-top: 0.08rem;
}

.page-event .wrapper-article .wrapper-author .publish-time {
    font-size: 0.22rem;
    color: #555;
}

.page-event .wrapper-article .wrapper-article-brief {
    margin-top: 0.18rem;
    background-color: #e5e5e5;
    font-size: 0.26rem;
    color: #000;
    line-height: 0.4rem;
    padding: 0.16rem 0.24rem;
    border-radius: 4px;
}

.page-event .wrapper-article .wrapper-article-brief a {
    color: #003f94;
}

.page-event .wrapper-article  .wrapper-feedbacks {
    margin-top: 0.14rem;
    text-align: right;
}

.page-event .wrapper-article  .wrapper-feedbacks .comments,
.page-event .wrapper-article  .wrapper-feedbacks .upvote {
    display: inline-block;
    padding-left: 0.32rem;
    height: 0.22rem;
    font-size: 0.2rem;
    color: #a3a3a3;
}

.page-event .wrapper-article  .wrapper-feedbacks .comments {
    margin-right: 0.4rem;
    background: url(../img/icon-comment.png) no-repeat left center transparent;
    background-size: 0.28rem 0.22rem;
}

.page-event .wrapper-article  .wrapper-feedbacks .upvote {
    margin-right: 0.2rem;
    background: url(../img/icon-upvote.png) no-repeat left center transparent;
    background-size: 0.26rem 0.22rem;
}
/* 单一事件/产品/话题评论 样式 end */

/* 单一人物言论 样式 start */
.page-single-people {
    background-color: #143d5d;
}

.page-single-people .module-figure {
    padding: 0.56rem 0 0 0.42rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #143d5d;
    /*height: 1.5rem;*/
    z-index: 1000;
}

.page-single-people .figure-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 0.2rem;
}

.page-single-people .figure-thumb img {
    width: 100%;
    height: 100%;
}

.page-single-people .figure-name {
    font-size: 0.3rem;
    line-height: 1;
    margin-top: 0.14rem;
    color: #fff;
}

.page-single-people .figure-signature {
    font-size: 0.26rem;
    color: #a3a3a3;
    line-height: 1;
    margin-top: 0.18rem;
}

.page-single-people .module-timeline {
    margin: 0 0.56rem;
    border-left: 2px solid #fff;
    padding-top: 2.06rem;
    padding-bottom: 1rem;
    /*overflow: hidden;*/
}

.page-single-people .wrap-tweet {
    position: relative;
    margin-top: 0.58rem;
}

.page-single-people .wrap-tweet:before {
    position: absolute;
    content: " ";
    overflow: hidden;
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 50%;
    top: 0.06rem;
    /*left: -0.1rem;*/
    left: calc(-0.1rem - 1px);
}

.page-single-people .tweet-time {
    float: left;
    color: #fff;
    font-size: 0.3rem;
    margin-left: 0.3rem;
    line-height: 0.42rem;
}

.page-single-people .tweet-position {
    float: right;
    margin-right: 0.12rem;
    line-height: 0.42rem;
    color: #a7b0ba;
    font-size: 0.22rem;
    padding-left: 0.34rem;
    background: url(../img/icon-position.png) no-repeat left center transparent;
    background-size: 0.23rem 0.3rem;
}

.page-single-people .tweet-content {
    margin-left: 0.3rem;
    background-color: #b9c8d5;
    margin-top: 0.2rem;
    font-size: 0.26rem;
    line-height: 0.4rem;
    padding: 0.16rem 0.24rem;
    border-radius: 5px;
}
/* 单一人物言论 样式 end */

/* 互怼直播 样式 start */
.page-conversation {}

.page-conversation .cover {
    width: 100%;
    height: 3.24rem;
    position: relative;
}

.page-conversation .cover-img {
    width: 100%;
    height: 100%;
}

.page-conversation .cover .audience-num {
    position: absolute;
    top: 0.22rem;
    right: 0.32rem;
    font-size: 0.24rem;
    color: #fff;
    line-height: 1;
}

.page-conversation .cover .title {
    position: absolute;
    top: 1.32rem;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 0.36rem;
    line-height: 1;
    text-align: center;
}

.page-conversation .cover .sub-title {
    position: absolute;
    top: 1.96rem;
    left: 0;
    width: 100%;
    color: #aeaeae;
    font-size: 0.24rem;
    line-height: 1;
    text-align: center;
}

.page-conversation .tab-card {
    float: left;
    width: 50%;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.32rem;
    text-align: center;
    background-color: #0a659e;
    color: #a5bcd2;
}

.page-conversation .tab-card-active {
    background-color: #0f8bd8;
    color: #fff;
}

.page-conversation .viewpoints {
    margin: 0 0.48rem;
    padding-top: 0.16rem;
    padding-bottom: 1rem;
}

.page-conversation .viewpoint {
    margin-top: 0.46rem;
}

.page-conversation .viewpoint-author {
    width: 0.9rem;
    height: 0.9rem;
    background-color: #0f8bd8;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    /*margin-right: 0.28rem;*/
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-conversation .viewpoint-author-thumb {
    height: 100%;
    width: 100%;
}

.page-conversation .viewpoint-main {
    /*overflow: hidden;*/
    margin-left: 1.2rem;
}

.page-conversation .viewpoint-attr {
    font-size: 0.24rem;
    line-height: 1;
}

.page-conversation .viewpoint-author-name {
    color: #000;
    float: left;
}

.page-conversation .viewpoint-publish-time {
    color: #555;
    float: right;
}

.page-conversation .viewpoint-content {
    margin-top: 0.16rem;
    padding: 0.2rem 0.27rem;
    font-size: 0.26rem;
    line-height: 0.4rem;
    background-color: #eeeeee;
    border-radius: 6px;
    position: relative;
}

.page-conversation .viewpoint-content a {
    color: #003f94;
}

.page-conversation .viewpoint-content:before {
    position: absolute;
    left: -0.24rem;
    top: 0.18rem;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    overflow: hidden;
    border: 0.12rem solid #eeeeee;
    border-left-color: #fff;
    border-bottom-color: #fff;
}

.page-conversation .viewpoint-opposition {

}

.page-conversation .viewpoint-opposition .viewpoint-author {
    float: right;
}

.page-conversation .viewpoint-opposition .viewpoint-main {
    margin-left: 0;
    margin-right: 1.2rem;
}

.page-conversation .viewpoint-opposition .viewpoint-author-name {
    float: right;
}

.page-conversation .viewpoint-opposition .viewpoint-publish-time {
    float: left;
}

.page-conversation .viewpoint-opposition .viewpoint-content:before {
    left: auto;
    right: -0.24rem;
    border-color: #eeeeee;
    border-right-color: #fff;
    border-bottom-color: #fff;
}
/* 互怼直播 样式 end */

/* 单条直播 样式 start */
.page-live .cover {
    width: 100%;
    height: 3.24rem;
    position: relative;
}

.page-live .cover-img {
    width: 100%;
    height: 100%;
}

.page-live .cover .audience-num {
    position: absolute;
    top: 0.22rem;
    right: 0.32rem;
    font-size: 0.24rem;
    color: #fff;
    line-height: 1;
}

.page-live .cover .title {
    position: absolute;
    top: 1.32rem;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 0.36rem;
    line-height: 1;
    text-align: center;
}

.page-live .cover .sub-title {
    position: absolute;
    top: 1.96rem;
    left: 0;
    width: 100%;
    color: #aeaeae;
    font-size: 0.24rem;
    line-height: 1;
    text-align: center;
}

.page-live .article-list {
    margin: 0 0.5rem;
    /*padding-bottom: 0.5rem;*/
}

.page-live .article {
    margin-top: 0.36rem;
}

.page-live .article-main {
    background-color: #e7e7e7;
}

.page-live .article-title {
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #000;
    padding: 0.2rem 0.2rem 0;
}

.page-live .article-content {
    font-size: 0.24rem;
    line-height: 0.4rem;
    color: #686868;
    padding: 0.12rem 0.2rem 0.2rem;
}

.page-live .article-attr {
    margin-top: 0.16rem;
    font-size: 0.22rem;
    color: #a3a3a3;
}

.page-live .article-time {
    float: left;
    color: #a3a3a3;
}

.page-live .article-upvote {
    float: right;
    margin-right: 0.1rem;
    padding-left: 0.36rem;
    background: url(../img/icon-upvote.png) left center no-repeat transparent;
    background-size: 0.26rem 0.22rem;
    color: #a3a3a3;
}

.page-live .article-comment {
    float: right;
    margin-right: 0.4rem;
    padding-left: 0.36rem;
    background: url(../img/icon-comment.png) left center no-repeat transparent;
    background-size: 0.28rem 0.22rem;
    color: #a3a3a3;
}

.page-live .article-img-single {
    width: 100%;
}

.page-live .article-img-single img {
    width: 100%;
    vertical-align: top;
}

.page-live .article-img-multiple {
    margin: 0 0.2rem;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-live .article-img-multiple img {
    /*flex: ;*/
    width: 1.88rem;
    height: 1.88rem;
    margin-bottom: 0.2rem;
}

.page-live .btn-sticky {
    color: #fff;
    background-color: #d00000;
    padding: 0 0.08rem;
    margin-left: 0.3rem;
    border-radius: 3px;
    font-size: 0.2rem;
    display: inline-block;
    height: 0.28rem;
    line-height: 0.28rem;
}
/* 单条直播 样式 end */

/* 多人物言论 样式 start */
.page-multiple-peoples,
.page-multiple-peoples body {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #cccccc;
}
@media screen and (orientation: portrait) {
    .page-multiple-peoples #wrapper {
        width: 100vh;
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 50vw 50vw;
        -moz-transform-origin: 50vw 50vw;
        -o-transform-origin: 50vw 50vw;
        -ms-transform-origin: 50vw 50vw;
        transform-origin: 50vw 50vw;
    }
}

@media screen and (orientation: landscape) {

}

.page-multiple-peoples #wrapper {
    width: 10000000px;
    height: 100vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.page-multiple-peoples .first-screen {
    text-align: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    float: left;
}

.page-multiple-peoples .first-screen-title {
    position: relative;
    font-size: calc(62 / 750 * 100vh);
    color: #000;
    line-height: 1;
    margin-top: calc(240 / 750 * 100vh);
    display: inline-block;
    position: relative;
}

.page-multiple-peoples .first-screen-title:before,
.page-multiple-peoples .first-screen-title:after {
    display: block;
    content: " ";
    position: absolute;
    width: calc(72 / 750 * 100vh);
    height: calc(63 / 750 * 100vh);
    left: 0;
    top: calc(-63 / 750 * 100vh - 10px);
    background: url(../img/doubleQuote.png) no-repeat center center transparent;
    background-size: 100% 100%;
}

.page-multiple-peoples .first-screen-title:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: calc(-63 / 750 * 100vh - 10px);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.page-multiple-peoples .first-screen-peoples {
    /*margin: 1.8rem 1.5rem 0;*/
    margin:
        calc(180 / 750 * 100vh)
        calc(150 / 750 * 100vh)
        0
        calc(150 / 750 * 100vh);
    height: calc(130 / 750 * 100vh);
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /*-webkit-justify-content: space-between;*/
    -webkit-justify-content: flex-start;
    align-content: flex-start;
}

.page-multiple-peoples .first-screen-peoples .img-wrap {
    -webkit-flex: 0 0 calc(100% / 7);
    text-align: center;
}

.page-multiple-peoples .first-screen-peoples img {
    /*display: block;*/
    width: calc(130 / 750 * 100vh);
    height: calc(130 / 750 * 100vh);
    /*flex: 0 0 14.28571%;*/
    /*float: left;*/
    /*margin-right: calc(20 / 750 * 100vh);*/
}



.page-multiple-peoples .tweet-list {
    padding-left: calc(78 / 750 * 100vh);
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.page-multiple-peoples .tweet {
    float: left;
    margin-right: calc(128 / 750 * 100vh);
    width: calc(780 / 750 * 100vh);
    height: 100vh;
    position: relative;
}

.page-multiple-peoples .wrapper-tweet {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: calc(70 / 750 * 100vh);
}

.page-multiple-peoples .tweet-content {
    background-color: #005774;
    color: #588396;
    line-height: calc(40 / 750 * 100vh);
    font-size: calc(28 / 750 * 100vh);
    padding: calc(34 / 750 * 100vh);
    position: relative;
    box-shadow: 
        calc(18 / 750 * 100vh)
        calc(18 / 750 * 100vh)
        0
        0
        #b6b6b6;
    transition: color 0.3s ease-in;
}

.page-multiple-peoples .tweet.is-inScreen .tweet-content {
    color: #fff;
}

.page-multiple-peoples .tweet-content:before,
.page-multiple-peoples .tweet-content:after {
    border-top: calc(43 / 750 *100vh) solid #005774;
    border-bottom: calc(43 / 750 *100vh) solid transparent;
    border-left: calc(35 / 750 * 100vh) solid #005774;
    border-right: calc(35 / 750 * 100vh) solid transparent;
    position: absolute;
    left: calc(70 / 750 * 100vh);
    bottom: calc(-86 / 750 *100vh);
    display: block;
    content: " ";
    width: 0;
    height: 0;
    overflow: hidden;
    transform-origin: left top;
    transform: skew(-10deg);
    z-index: 10;
}

.page-multiple-peoples .tweet-content:after {
    border-top-color: #b6b6b6;
    border-left-color: #b6b6b6;
    left: calc(88 / 750 * 100vh);
    bottom: calc(-104 / 750 *100vh);
    z-index: -1;
}

.page-multiple-peoples .tweet-attr {
    margin-top: calc(86 / 750 * 100vh);
    overflow: hidden;
    line-height: 1;
    font-size: calc(28 / 750 * 100vh);
    color: #666666;
}

.page-multiple-peoples .author-thumb {
    float: left;
    width: calc(130 / 750 * 100vh);
    height: calc(130 / 750 * 100vh);
    margin-right: calc(28 / 750 * 100vh);
}

.page-multiple-peoples .tweet-title {
    color: #000;
}

.page-multiple-peoples .author-name {
    margin-top: calc(32 / 750 * 100vh);
    margin-bottom: calc(20 / 750 * 100vh);
}

.page-multiple-peoples .warning {
    display: none;
}

@media screen and (orientation: portrait) {
    .page-multiple-peoples .first-screen-title {
        font-size: calc(62 / 750 * 100vw);
        margin-top: calc(240 / 750 * 100vw);
    }

    .page-multiple-peoples .first-screen-peoples {
        margin:
            calc(180 / 750 * 100vw)
            calc(150 / 750 * 100vw)
            0;
        height: calc(130 / 750 * 100vw);
        width: calc(150 * 7 / 750 * 100vw);
    }

    .page-multiple-peoples .first-screen-peoples img {
        width: calc(130 / 750 * 100vw);
        height: calc(130 / 750 * 100vw);
        margin-right: calc(20 / 750 * 100vw);
    }

    
    .page-multiple-peoples,
    .page-multiple-peoples body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .page-multiple-peoples .warning {
        display: block;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 10000;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        line-height: 100vh;
        font-size: calc(28 / 750 * 100vw);
        text-align: center;
        color: #000;
    }
}
/* 多人物言论 样式 end */

/* 政策类 样式 start */
html.page-policy,
html.page-policy body {
    width: 100%;
    height: 100%;
}

.page-policy .swiper-container {
    height: 100%;
    width: 100%;
}

.page-policy .swiper-slide {
    box-sizing: border-box;
    padding: 0 0.84rem;
    overflow: hidden;
    /*padding: 0 10px;*/
}

.page-policy .collection-cover {
    /*margin-top: 2.04rem;*/
    margin-top: 1rem;
}

.page-policy .collection-title,
.page-policy .policy-title {
    margin-top: 0.56rem;
    font-size: 0.4rem;
    line-height: 0.6rem;
    color: #8f8f8f;
    padding: 0.24rem 0.36rem;
    border: 5px solid #d00000;
}


.page-policy .policy-title {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.page-policy .swiper-slide-active .policy-title {
    opacity: 1;
}

.page-policy .collection-content,
.page-policy .policy-content {
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin-top: 0.6rem;
    color: #000;
}

.page-policy .policy-content {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.page-policy .swiper-slide-active .policy-content {
    opacity: 1;
}

.page-policy .policy-attr {
    margin-top: 0.64rem;
    line-height: 0.52rem;
    font-size: 0.26rem;
    color: #000;
    float: right;
    opacity: 0;
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transition: 
        opacity 0.5s ease-in,
        -webkit-transform 0.5s ease-in;
}

.page-policy .policy-attr p:before{
    content: " ";
    display: inline-block;
    height: 100%;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
}

.page-policy .swiper-slide-active .policy-attr {
    opacity: 1;
    -webkit-transform: translate(0, 0);
}

.page-policy .policy-attr .label {
    display: inline-block;
    vertical-align: middle;
    height: 0.4rem;
    line-height: 0.4rem;
    color: #fff;
    background-color: #d00000;
    border-radius: 4px;
    /*padding: 0 0 0 0.12rem;*/
    padding: 0 0.06rem 0 0.06rem;
    margin-right: 0.18rem;
}

.page-policy .custom-swiper-pagination {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1.2rem;
    line-height: 1;
    font-size: 0.24rem;
    color: #000;
}

.page-policy .custom-swiper-pagination .current-page {
    font-size: 0.48rem;
}
/* 政策类 样式 end */
/* 集锦+评论 样式 start */
.page-topic-comment,
.page-topic-comment body,
.page-topic-comment .swiper-container {
    width: 100%;
    height: 100%;
}

.page-topic-comment body {
    color: #000;
}
.page-topic-comment .cover-img {
    width: 7.5rem;
    height: 5rem;
    margin-bottom: 5px solid #e5e5e5;
}

.page-topic-comment .cover-img img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.page-topic-comment .cover-title{
    font-size: 0.3rem;
    margin-top: 0.6rem;
    text-align: center;
}

.page-topic-comment .cover-sub-title{
    font-size: 0.26rem;
    color: #333333;
    margin-top: 0.26rem;
    text-align: center;
}

.page-topic-comment .cover-content {
    line-height: 1;
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin-top: 0.86rem;
    padding: 0 0.6rem;
}

.page-topic-comment .arrow-down {
    position: fixed;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    bottom: 0.5rem;
    width: 1.3rem;
    height: 0.62rem;
    background: url(../img/arrow-down.png) no-repeat center center transparent;
    background-size: 100% 100%;
    pointer-events: none;
}

.page-topic-comment .article-img {
    width: 100%;
    height: 3.4rem;
    border-bottom: 5px solid #e5e5e5;
}

.page-topic-comment .article-img img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.page-topic-comment .article-num {
    margin: 0.44rem 0 0 0.8rem;
    font-size: 0.4rem;
    line-height: 0.6rem;
    border-bottom: 5px solid #d00000;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transition:
        opacity 0.5s ease-in,
        -webkit-transform 0.5s ease-in;
}

.page-topic-comment .swiper-slide-active .article-num {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

.page-topic-comment .article-title {
    font-size: 0.32rem;
    line-height: 1;
    margin-top: 0.42rem;
    text-align: center;
}

.page-topic-comment .article-content {
    font-size: 0.24rem;
    line-height: 0.4rem;
    margin: 0.5rem 0.8rem 0;
}

.page-topic-comment .article-title,
.page-topic-comment .article-content {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.page-topic-comment .swiper-slide-active .article-title,
.page-topic-comment .swiper-slide-active .article-content {
    opacity: 1;
}

.page-topic-comment .comment {
    margin: 0.44rem 0.52rem 0;
    background-color: #e5e5e5;
    font-size: 0.22rem;
    line-height: 0.4rem;
    color: #4e4e4e;
    padding: 0.15rem 0.24rem;
    border-radius: 5px;
    opacity: 0;
    -webkit-transform: translate3d(0, 1rem, 0);
    transition:
        opacity 0.5s ease-in,
        -webkit-transform 0.5s ease-in;
}

.page-topic-comment .swiper-slide-active .comment {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
}

.page-topic-comment .comment-attr {
    margin-top: 0.1rem;
    line-height: 0.4rem;
    font-size: 0.26rem;
}

.page-topic-comment .author-thumb {
    float: left;
    margin-left: 0.76rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #84b2ce;
}

.page-topic-comment .author-name {
    float: left;
    margin-left: 0.1rem;
}

.page-topic-comment .publish-time {
    float: right;
    color: #555;
    margin-right: 1.1rem;
}
/* 集锦+评论 样式 end */

/* 产品集锦 样式 start */
html.page-products,
.page-products body,
.page-products .swiper-container,
.page-products .swiper-wrapper {
    width: 100%;
    height: 100%;
    color: #000;
}

.page-products body {
    background-color: #d9d9d9;
}

.page-products .cover-img {
    width: 3.8rem;
    height: 3.8rem;
    margin: 0.88rem auto 0;
    border: 0.2rem solid #b9b9b9;
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-products .cover-img img {
    width: 100%;
    height: 100%;
}

.page-products .cover-title {
    font-size: 0.4rem;
    line-height: 1;
    text-align: center;
    margin-top: 0.8rem;
}

.page-products .cover-sub-title {
    font-size: 0.24rem;
    line-height: 1;
    text-align: center;
    margin-top: 0.28rem;
}

.page-products .cover-content {
    font-size: 0.26rem;
    line-height: 0.4rem;
    margin: 0.8rem 0.9rem 0;
}

.page-products .product-num {
    /*margin-top: 0.9rem;*/
    margin-top: 0.6rem;
    font-size: 0.48rem;
    color: #686868;
    text-align: center;
    line-height: 1;
}

.page-products .product-img {
    margin: 0.42rem auto 0;
    width: 6.98rem;
    height: 4.4rem;
    position: relative;
    overflow: hidden;
}

.page-products .product-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.page-products .product-img:before {
    position: absolute;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    overflow: hidden;
    border: 4.4rem solid transparent;
    border-left-width: 3.49rem;
    border-right-width: 3.49rem;
    border-bottom-color: #b7b7b7;
    left: 0;
    bottom: 0;
}

.page-products .product-name {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.4rem;
    line-height: 1;
}

.page-products .publish-time {
    margin: 0.46rem 0 0 1.06rem;
    display: inline-block;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.14rem 0 0.2rem;
    background-color: #000;
    color: #fff;
    font-size: 0.2rem;
    position: relative;
    border-radius: 0 4px 4px 0;
}

.page-products .publish-time:before {
    position: absolute;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0.14rem solid transparent;
    border-right-color: #000;
    border-top-width: 0.16rem;
    border-bottom-width: 0.16rem;
    left: -0.28rem;
    top: 0;
}

.page-products .publish-time:after {
    position: absolute;
    display: block;
    content: " ";
    width: 0.08rem;
    height: 0.08rem;
    background-color: #fff;
    overflow: hidden;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
}

.page-products .product-breif {
    font-size: 0.26rem;
    line-height: 0.4rem;
    margin: 0.32rem 0.9rem 0;
}

.page-products .icon-pin {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 1.3rem;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 0.7rem;
    height: 0.7rem;
    background: url(../img/icon-pin.png) center center no-repeat transparent;
    background-size: 100% 100%;
}

.page-products .custom-pagination {
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    width: 100%;
    text-align: center;
}

.page-products .pagination-bullet {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    background-color: #aeaeae;
    color: #fff;
    font-size: 0.24rem;
    margin-right: 0.12rem;
    border-radius: 50%;
}

.page-products .pagination-bullet.current {
    background-color: #d00000;
}
/* 产品集锦 样式 end */

/* 产品集锦2 样式 start */
html.page-products-ii,
.page-products-ii body,
.page-products-ii .swiper-container {
    height: 100%;
    width: 100%;
}

.page-products-ii .wrap-material {
    height: 7.46rem;
    border-bottom: 0.08rem solid #52c0e5;
    position: relative;
}

.page-products-ii .wrap-material img {
    width: 100%;
    height: 100%;
}

.page-products-ii .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 1.54rem;
    background: url(../img/icon-play.png) no-repeat center center transparent;
    background-size: 100% 100%;
}

.page-products-ii  .btn-photos {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;
    padding: 0 0.3rem;
    font-size: 0.3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-products-ii .product-type {
    width: 4.46rem;
    text-align: center;
    height: 0.46rem;
    line-height: 0.46rem;
    color: #fff;
    font-size: 0.24rem;
    background-color: #52c0e5;
    margin: 0 auto;
}

.page-products-ii .title {
    margin-top: 1rem;
    font-size: 0.5rem;
    line-height: 0.72rem;
    color: #000;
    text-align: center;
}

.page-products-ii .summary-title {
    font-size: 0.3rem;
    color: #000;
    margin: 0.9rem auto 0;
    width: 1.9rem;
    height: 0.52rem;
    line-height: 0.52rem;
    background-color: #cccccc;
    text-align: center;
}

.page-products-ii .summary-content {
    margin: 0.8rem 0.9rem 0;
    line-height: 0.6rem;
    font-size: 0.36rem;
    color: #000;
}

.page-products-ii .arrow-down {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0.62rem;
    width: 1.3rem;
    background: url(../img/arrow-down.png) no-repeat center center transparent;
    background-size: 100% 100%;
}

.page-products-ii .number {
    margin: 0.9rem auto 0;
    text-align: center;
    line-height: 0.88rem;
    color: #fff;
    font-style: italic;
    font-size: 0.6rem;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
    background-color: #cccccc;
}

.page-products-ii .product-breif {
    margin: 0.8rem 0.9rem 0;
    line-height: 0.6rem;
    font-size: 0.36rem;
    color: #000;
}

.page-products-ii .product-detail {
    display: block;
    margin: 0.4rem auto 0;
    height: 0.56rem;
    line-height: 0.56rem;
    width: 0.56rem;
    background: url(../img/icon-more.png) no-repeat center center transparent;
    background-size: 100% 100%;
}
/* 产品集锦2 样式 end */

/* 综合专题 样式 start */
.page-mixed .wrap-banner {
    width: 100%;
    height: 2.68rem;
}

.page-mixed .wrap-banner img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.page-mixed .wrap-tab {
    background-color: #3c829f;
    line-height: 0.6rem;
    height: 0.6rem;
    color: #b1dbec;
    font-size: 0.28rem;
}
.page-mixed .wrap-tab .tab-item {
    color: #b1dbec;
    display: inline-block;
    margin-left: 0.36rem;
}

.page-mixed .wrap-tab .tab-item.active {
    color: #fff;
}

.page-mixed .artile-style-i {
    padding: 0.2rem 0.28rem;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    display: -webkit-flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.page-mixed .artile-style-i .article-img {
    width: 1.86rem;
    height: 1.24rem;
    overflow: hidden;
}

.page-mixed .artile-style-i .article-img img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.page-mixed .artile-style-i .article-profile {
    width: 4.94rem;
    position: relative;
    overflow: hidden;
}

.page-mixed .artile-style-i .article-title {
    font-size: 0.28rem;
    color: #000;
    line-height: 0.34rem;
    margin-top: -0.03rem;
}

.page-mixed .artile-style-i .article-attr {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.22rem;
    color: #4c4c4c;
    line-height: 1;
}

.page-mixed .artile-style-i .article-type {
    float: left;
}

.page-mixed .artile-style-i .article-comments {
    float: right;
}

/*.page-mixed .load-more {
    margin: 0.5rem auto 0;
    font-size: 0.26rem;
    width: 1.4rem;
    text-align: center;
    color: #7d7d7d;
    height: 0.44rem;
    line-height: 0.44rem;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
}*/

.page-mixed .article-style-ii,
.page-mixed .article-style-iii {
    margin: 0.34rem 0.3rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.page-mixed .article-style-ii .article-img {
    width: 100%;
    height: 2.42rem; 
}

.page-mixed .article-style-ii .article-img img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.page-mixed .article-style-ii .article-title,
.page-mixed .article-style-iii .article-title {
    font-size: 0.28rem;
    color: #333333;
    padding: 0 0.24rem;
    line-height: 1;
    margin-top: 0.32rem;
}

.page-mixed .article-style-ii .article-content,
.page-mixed .article-style-iii .article-content {
    font-size: 0.24rem;
    color: #333333;
    margin-top: 0.24rem;
    line-height: 0.4rem;
    padding: 0 0.24rem;
}

.page-mixed .article-style-ii .article-attr,
.page-mixed .article-style-iii .article-attr {
    padding: 0 0.24rem;
    margin: 0.24rem 0;
    font-size: 0.24rem;
    color: #666666;
    line-height: 0.4rem;
}

.page-mixed .article-style-ii .more,
.page-mixed .article-style-iii .more {
    height: 0.38rem;
    line-height: 0.38rem;
    border: 1px solid #b9b9b9;
    background-color: #fff;
    border-radius: 5px;
    width: 1.26rem;
    color: #666666;
    text-align: center;
}
/* 综合专题 样式 end */
